name: 游 Deploy ucuenca-theme

on:
  push:
    branches: ["main"]

  # Le permite ejecutar este flujo de trabajo manualmente desde la pesta침a Acciones
  workflow_dispatch:

# Una ejecuci칩n de flujo de trabajo se compone de uno o m치s trabajos que pueden ejecutarse secuencialmente o en paralelo
jobs:
  # Este flujo de trabajo (workflow) contiene un solo trabajo llamado "web-deploy"
  web-deploy:
    # El tipo de runner en el que se ejecutar치 el trabajo.
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
