name: 游 Deploy ucuenca-theme 2

on:
  push:
    branches: ["main"]

  # Le permite ejecutar este flujo de trabajo manualmente desde la pesta침a Acciones
  workflow_dispatch:

# Una ejecuci칩n de flujo de trabajo se compone de uno o m치s trabajos que pueden ejecutarse secuencialmente o en paralelo
jobs:
  # Este flujo de trabajo (workflow) contiene un solo trabajo llamado "web-deploy"
  web-deploy:
    name: 游꿀 Deploy
    runs-on: ubuntu-latest

    # Los pasos representan una secuencia de tareas que se ejecutar치n como parte del trabajo.
    steps:
      - name: 游뚴 obtener el 칰ltimo c칩digo
        uses: actions/checkout@v3

      - name: 游늭 Sincronizar archivos
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with:
          server: ${{secrets.FTP_SERVER}}
          username: ${{ secrets.FTP_USERNAME}}
          password: ${{ secrets.FTP_PASSWORD}}
          local-dir: ./prod/
          exclude: |
            **/lib/**
